/* frontend/src/components/BalanceBadge.scss */
.balance-badge {
  display: flex;
  align-items: center;
  background-color: #20272F;
  padding: 6px 12px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 14px;
  gap: 8px;
  color: var(--tg-theme-text-color, #4C5B6C);

  &__icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }

  &__amount {
    white-space: nowrap;
  }

  &__topup {
    background-color: var(--tg-theme-button-color, #2a8bf2);
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 16px;
      height: 16px;
      object-fit: contain;
    }
  }
}
