:root {
  --bg-color: #20272F;
  --text-color: var(--tg-theme-text-color);
  --subtext-color: var(--tg-theme-hint-color);
  --accent-color: var(--tg-theme-link-color);
  --header-color: var(--tg-theme-secondary-bg-color);
  --nav-color: var(--tg-theme-secondary-bg-color);
}